<div class="container content-wrapper buffer-both">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="title-medium">Войти на сайт</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form">

        <!-- Рисуем форму, которая будет отправлена на sessions_path -->
        <%= form_tag session_path do %>
            <div class="form-field">
              <%= label_tag :name, 'Логин (имя)', class: 'form-label' %>
              <%= text_field_tag :name, params[:name], class: 'form-text-field' %>
            </div>

            <div class="form-field">
              <%= label_tag :password, 'Пароль', class: 'form-label' %>
              <%= password_field_tag :password, '', class: 'form-text-field' %>
            </div>

            <div class="form-action">
              <%= submit_tag "Войти", class: 'button button-dark button-small' %>
            </div>
        <% end %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>